*.o
*.orig
*.rej
*~
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/binfmtasm-interpreter
/binfmtc-interpreter
/binfmtcxx-interpreter
/binfmtf-interpreter
/binfmtf95-interpreter
/binfmtgcj-interpreter
/binfmtp-interpreter
/build-stamp
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure-stamp
/depcomp
/install-sh
/missing
/stamp-h1
