Source: binfmtc
Section: utils
Priority: extra
Maintainer: Junichi Uekawa <dancer@debian.org>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.6.1

Package: binfmtc
Architecture: any
Depends: ${shlibs:Depends}, gcc, binutils, g++, binfmt-support
Suggests: g77, gcj, libgcj4-dev, gpc
Description: Execute C program as script
 Linux binfmt_misc handler for C, C++, Assembly languages.
 .
 Using the binfmt_misc interface, binfmtc allows users to 
 seamlessly execute C source code as if they were scripts.
