Source: binfmtc
Section: utils
Priority: extra
Maintainer: Junichi Uekawa <dancer@debian.org>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.7.2

Package: binfmtc
Architecture: any
Depends: ${shlibs:Depends}, gcc, binutils, g++, binfmt-support
Suggests: g77, gcj, gpc
Description: Execute C program as script
 Linux binfmt_misc handler for C, C++, Assembly languages, Pascal,
 Fortran, Java(GCJ).
 .
 Using the binfmt_misc interface, binfmtc allows users to 
 seamlessly execute C source code as if they were scripts.
 .
 Includes example utilities realcsh.c, realksh.c, which are for your
 real C scripting pleasures.
